{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}

	<div id="annonce_recherche">
		<a href="#annonceAdd" class="fancybox"><input type="button" value="Ajouter annonce" class="submit" /></a>
	</div>

	<div id="annonceAdd" style="display:none">

		

	</div>

<div id="annonce_content">
	{% set i = 1 %}
	{% for annonce in annonceList %}
	    <div class="annonce" id="{{ i }}">

			<div class="block_shadow annonce_img"><img src="{{ asset('bundles/ppem2l/img/' ~ annonce.image) }}" class="img-responsive img_annonce" /></div>

	    	<div class="annonce_texte block_shadow">
	    		<div class="annonce_titre">
		    		<h1>{{ annonce.titre|capitalize}}</h1>
	    		</div>
	
	    		<p class="description"><span style="font-weight:700">Description :</span><br/><br/>
	    			{{ annonce.description }}
	    		</p>
	    		<p class="prix">{{ annonce.prix }}€</p>
	    		<a href="#annonce_fancybox_{{ i }}" class="fancybox">Contacter le vendeur</a>
	    	</div>
		</div><br/>

    	<div id="annonce_fancybox_{{ i }}" class="annonce_fancybox" style="display:none">
    		<div class="texte_fancybox">				
				<h2>{{ annonce.utilisateurAnonce.prenom|upper }} {{ annonce.utilisateurAnonce.nom|upper }}</h2>
				<img src="{{ asset('bundles/ppem2l/img/phone.png') }}" style="float:left;margin-left:4px" alt="phone"/>
	    		<p>{{ annonce.utilisateurAnonce.telephone }}</p>
	    	 	<img src="{{ asset('bundles/ppem2l/img/mail.png') }}" style="float:left" alt="mail"/>
		    	<a href="mailto:{{ annonce.utilisateurAnonce.email }}"><p>{{ annonce.utilisateurAnonce.email }}</p></a>
    		</div>
  		</div>
	  	{% set i = i + 1 %}
	{% endfor %}
</div>
<script type="text/javascript">
    $( document ).ready(function() {
		$('.fancybox').fancybox({
			helpers : {
			        overlay : {
			            css : {
			                'background' : 'rgba(58, 42, 45, 0.95)'
			            }
			        }
			    },
		});

		function tri()
		{

		}

	});
</script>
{% endblock %}