{% extends 'PPEM2LBundle:Default:layout.html.twig' %}
{% block body %}

<div class="edit_annonce">
	<span class="titre_back">Modification de l'annonce</span>
		{{ form_start(form) }}

				<div class="input_form_register">
					{{ form_label(form.titre, "Titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.titre) }}
					{{ form_widget(form.titre, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.description) }}
					{{ form_widget(form.description, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.image, "Image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.image) }}
					{{ form_widget(form.image, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.prix, "Prix", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.prix) }}
					{{ form_widget(form.prix, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.utilisateur, "Utilisateur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.utilisateur) }}
					{{ form_widget(form.utilisateur, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				{{ form_rest(form) }}

		{{ form_end(form) }}
</div>

{% endblock %}
