{% extends 'PPEM2LBundle:Default:layout.html.twig' %}
{% block body %}

<div class="list_annonces">
	<span class="titre_back">Annonces déposées</span>
<table border="1" cellspacing="0">
	<thead>
			<th>Id</th>
			<th>Titre</th>
			<th>Description</th>
			<th>Image</th>
			<th>Prix</th>
			<th colspan="2">Edition</th>
	</thead>
	<tbody>
{% for annonce in annonceList %}
	<tr>

			<td>{{ annonce.id }}</td>
			<td>{{ annonce.titre }}</td>
			<td>{{ annonce.description }}</td>
			<td>{{ annonce.image }}</td>
			<td>{{ annonce.prix }}</td>
			
			<td><a href="{{ path( 'ppe_m2l_back_annonceedit',{'id': annonce.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/edit.png') }}"/></a></td>
			<td><a href="{{ path( 'ppe_m2l_back_delete_annonces',{'id': annonce.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/delete.png') }}"/></a></td>
	</tr>

{% endfor %}
	</tbody>
</table>
</div>


<div id="add_annonce" title="Ajouter une acutalite">+</div>
<div class="add_annonce">
	<span class="titre_back">AJOUTER UNE ACTUALITE</span>
		{{ form_start(formAjout) }}

				<div class="input_form_register">
					{{ form_label(formAjout.titre, "Titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAjout.titre) }}
					{{ form_widget(formAjout.titre, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAjout.description, "Description de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAjout.description) }}
					{{ form_widget(formAjout.description, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAjout.image, "Image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAjout.image) }}
					{{ form_widget(formAjout.image, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAjout.prix, "Prix", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAjout.prix) }}
					{{ form_widget(formAjout.prix, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

					{{ form_widget(formAjout.publier) }}

		{{ form_end(formAjout) }}
</div>
<script type="text/javascript">
$(document).ready(function(){

	$('#add_annonce').click(function(){
		$('.add_annonce').animate({right: "0px"},300);
		$('#add_annonce').animate({right: "-300px"},300);
	});
	$('.titre_back').click(function(){
		$('.add_annonce').animate({right: "-300px"},300);
		$('#add_annonce').animate({right: "0px"},300);
	});

});

</script>
{% endblock %}
