
<form action="{{ path('ppem2_l_annonces_new') }}" method="post" {{ form_enctype(form) }}>

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(form) }}

		<div>
		  {# Génération du label. #}
		  {{ form_label(form.titre, "Titre de l'annonce") }}

		  {# Affichage des erreurs pour ce champ précis. #}
		  {{ form_errors(form.titre) }}

		  {# Génération de l'input. #}
		  {{ form_widget(form.titre) }}
		</div>

		{# Idem pour un autre champ. #}
		<div>
		  {{ form_label(form.description, "Contenu de l'annonce") }}
		  {{ form_errors(form.description) }}
		  {{ form_widget(form.description) }}
		</div>

		<div>
		  {{ form_label(form.image, "Image") }}
		  {{ form_errors(form.image) }}
		  {{ form_widget(form.image) }}
		</div>

		<div>
		  {{ form_label(form.prix, "Prix de l'annonce") }}
		  {{ form_errors(form.prix) }}
		  {{ form_widget(form.prix) }}
		</div>
		{# Génération des champs pas encore écrits.
		   Dans cet exemple, ce serait « date », « auteur » et « publication »,
		   mais aussi le champ CSRF (géré automatiquement par Symfony !)
		   et tous les champs cachés (type « hidden »). #}
		{{ form_rest(form) }}

</form>
