{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}
       
       	<div class="edit_back">
		<span class="titre_back">MODIFIER LES INFOS</span>
			{{ form_start(form) }}

					<div class="input_form_register">
						{{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
						<br/>
						{{ form_errors(form.nom) }}
						{{ form_widget(form.nom, {'label_attr': {'class': 'from-control'}}) }}
						<br/>
					</div>

					<div class="img-edit-container">
						<img src="{{ asset('media/image/' ~ image.filename) }}" class="img-responsive image img-edit-formation" />
						<br/>
						<img class="edit-logo" src="{{ asset('bundles/ppem2l/img/logos/edit.png') }}">
					</div>
					
					<div class="input_form_register" style="display:none" id="upload-img">
						{{ form_label(form.image, "Image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
						<br/>
						{{ form_errors(form.image) }}
						<div class="upload">
							{{ form_widget(form.image, {'label_attr': {'class': 'from-control'}}) }}
						</div>
						<br/>
					</div>

					<div class="input_form_register">
						{{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
						<br/>
						{{ form_errors(form.description) }}
						{{ form_widget(form.description, {'label_attr': {'class': 'from-control'}}) }}
						<br/>
					</div>

					<div class="input_form_register">
						{{ form_label(form.duree, "Durée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
						<br/>
						{{ form_errors(form.duree) }}
						{{ form_widget(form.duree, {'label_attr': {'class': 'from-control'}}) }}
						<br/>
					</div>

					<div class="input_form_register">
						{{ form_label(form.date, "Date", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
						<br/>
						{{ form_errors(form.date) }}
						{{ form_widget(form.date, {'label_attr': {'class': 'from-control'}}) }}
						<br/>
					</div>

					<div class="input_form_register">
						{{ form_label(form.time, "Heure", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
						<br/>
						{{ form_errors(form.time) }}
						{{ form_widget(form.time, {'label_attr': {'class': 'from-control'}}) }}
						<br/>
					</div>

					<div class="input_form_register">
						{{ form_label(form.lieu, "Lieu", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
						<br/>
						{{ form_errors(form.lieu) }}
						{{ form_widget(form.lieu, {'label_attr': {'class': 'from-control'}}) }}
						<br/>
					</div>


					<div class="input_form_register">
						{{ form_label(form.nbparticipants, "Nombre de participants", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
						<br/>
						{{ form_errors(form.nbparticipants) }}
						{{ form_widget(form.nbparticipants, {'label_attr': {'class': 'from-control'}}) }}
						<br/>
					</div>

					{{ form_rest(form) }}

			{{ form_end(form) }}
	</div>

{% endblock %}
