{% extends 'PPEM2LBundle:Default:layout.html.twig' %}
{% block body %}

<div class="list_formations">
	<span class="titre_back">Liste des formations</span>
<table border="1" cellspacing="0">
	<thead>
			<th>Nom</th>
			<th>Description</th>
			<th>Durée</th>
			<th>Date</th>
			<th>Heure</th>
			<th>Lieu</th>
			<th>Image</th>
			<th>Participants</th>
			<th>Total participants</th>
			<th colspan="2">Edition</th>
	</thead>
	<tbody>
{% for formation in formationList %}
	

			<td>{{ formation.nom }}</td>
			<td>{{ formation.description }}</td>
			<td>{{ formation.duree }}H</td>
			<td>{{ formation.date|date('d-m-Y') }}</td>
			<td>{{ formation.time|date('h:m') }}</td>
			<td>{{ formation.lieu }}</td>
			<td><img src="{{ asset('media/image/' ~ formation.image.filename) }}" class="img-responsive img-formation" /></td>
			<td>
				<select>
					{% for inscrits in formation.utilisateurs %}
					    <option>{{ inscrits.username }}</option>
					{% endfor %}
				</select>
			</td>
			<td>{{ formation.nbinscrits }}/{{ formation.nbparticipants }}</td>
			
			<td><a href="{{ path( 'ppe_m2l_back_formationedit',{'id': formation.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/edit.png') }}"/></a></td>
			<td><a href="{{ path( 'ppe_m2l_back_delete_formations',{'id': formation.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/delete.png') }}"/></a></td>
	</tbody>
{% endfor %}

</table>
</div>


<div id="add_formation" title="AJOUTER UNE FORMATION">+</div>
<div class="add_formation">
	<span class="titre_back">AJOUTER UNE FORMATION</span>

	<form action="{{ path('ppe_m2l_back_formations') }}" method="post" {{ form_enctype(formAddformation) }}>

				<div class="input_form_register">
					{{ form_label(formAddformation.nom, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_widget(formAddformation.nom, {'label_attr': {'class': 'from-control'}}) }}
					{{ form_errors(formAddformation.nom) }}
				</div>

				<div class="input_form_register">
					{{ form_label(formAddformation.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_widget(formAddformation.description, {'label_attr': {'class': 'from-control'}}) }}
					{{ form_errors(formAddformation.description) }}
				</div>

				<div class="input_form_register">
					{{ form_label(formAddformation.duree, "Durée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_widget(formAddformation.duree, {'label_attr': {'class': 'from-control'}}) }}
					{{ form_errors(formAddformation.duree) }}
				</div>

				<div class="input_form_register">
					{{ form_label(formAddformation.date, "Date", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAddformation.date) }}
					{{ form_widget(formAddformation.date, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAddformation.time, "Heure", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_widget(formAddformation.time, {'label_attr': {'class': 'from-control'}}) }}
					{{ form_errors(formAddformation.time) }}
				</div>

					<div class="input_form_register">
					{{ form_label(formAddformation.lieu, "Lieu", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAddformation.lieu) }}
					{{ form_widget(formAddformation.lieu, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_errors(formAddformation.image) }}
					{{ form_widget(formAddformation.image, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAddformation.nbparticipants, "Nombre de participants", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_widget(formAddformation.nbparticipants, {'label_attr': {'class': 'from-control'}}) }}
					{{ form_errors(formAddformation.nbparticipants) }}
					<br/>
				</div>


					{{ form_widget(formAddformation.publier) }}
					{{ form_rest(formAddformation) }}
	</form>
</div>


<script type="text/javascript">
$(document).ready(function(){

	$('#add_formation').click(function(){
		$('.add_formation').animate({right: "0px"},300);
		$('#add_formation').animate({right: "-300px"},300);
	});
	$('.titre_back').click(function(){
		$('.add_formation').animate({right: "-300px"},300);
		$('#add_formation').animate({right: "0px"},300);
	});
		$('.date').prop('type', 'text').datepicker({
		beforeShow: function(input, inst)
		{
			inst.dpDiv.css({marginTop: -input.offsetHeight + 'px', marginLeft: input.offsetWidth - 510 + 'px'});	
			$('#ui-datepicker-div').addClass('ll-skin-melon');
		},
		changeMonth: true,
    	changeYear: true,
    	yearRange: "1935:2015",
    	dateFormat: "yy-mm-dd",
    	regional: 'fr'
    });
});

</script>
{% endblock %}
