{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}
<div id="formation_content">

	{% for formation in formationList %}

<div class="formation block_shadow">
	<img src="{{ asset('bundles/ppem2l/img/' ~ formation.image) }}"class="img-responsive img-formation">
	<div class="formation_texte">

				<div class="formation_nom">	    		
	    
	    		<h1>{{ formation.nom|capitalize }}</h1>
	    
	    		<div class="trait"></div>
	    		</div>
	    		<p>{{ formation.description }}</p>
				<br/>
	    		Lieu : Salle {{ formation.lieu|capitalize}} <br />
	    		Durée : {{ formation.duree }} Min <br />
	    		Date de début : {{ formation.debut|date('d-m-Y')}} <br />
	    		Nombre de participants : {{ formation.nbparticipants }}
	    		</p>
				</div>
</div>
	{% endfor %}
	</div>
{% endblock %}