{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}
<div id="formation_content">

	{% for formation in formationList %}

<div class="formation block_shadow">
	<img src="{{ asset('bundles/ppem2l/img/' ~ formation.image) }}"class="img-responsive img-formation">
	<div class="formation_texte">

				<div class="formation_nom">	    		
	    
	    		<h1>{{ formation.nom|capitalize }}</h1>
	    
	    		<div class="trait"></div>
	    		</div>
	    		<p>{{ formation.description }}</p>
				<br/>
	    		Lieu : Salle {{ formation.lieu }} <br />
	    		{{ formation.duree|date("H:i:s")}}
	    		{{ formation.debut|date('Y-m-d')}}</p>
				</div>
</div>
	{% endfor %}
	</div>
{% endblock %}