{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}
<div id="formation_content">

	{% for formation in formationList %}

<div class="formation block_shadow">
	<img src="{{ asset('bundles/ppem2l/img/' ~ formation.image) }}"class="img-responsive img-formation">
	<div class="formation_texte">

				<div class="formation_nom">	    		
	    
	    		<h1>{{ formation.nom|capitalize }}</h1>
	    
	    		<div class="trait"></div>
	    		</div>
	    		<p>Description de la formation :<br />
	    			{{ formation.description }}
	    		</p>
				<p>
		    		Lieu : Salle {{ formation.lieu }} <br />
		    		Durée : {{ formation.duree }} Heures<br />
		    		Date : {{ formation.debut|date('d-m-Y')}} <br />
		    		Nombre de participants : {{ formation.nbparticipants }} 
		    	</p>
				</div>
</div>
	{% endfor %}
	</div>
{% endblock %}