{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}
<div id="formation_content">

	{% for formation in formationList %}

<div class="formation block_shadow">
	<img src="{{ asset('bundles/ppem2l/img/' ~ formation.image) }}"class="img-responsive img-formation">
	<div class="formation_texte">

				<div class="formation_nom">	    		
	    
	    		<h1>{{ formation.nom|capitalize }}</h1>
	    
	    		<div class="trait"></div>
	    		</div>
	    		<p>{{ formation.description }}</p>
	    		<p>{{ formation.nbinscrits }}/{{ formation.nbparticipants }}</p>
				<br/>
				<p>
		    		Lieu : Salle {{ formation.lieu|capitalize}} <br/>
		    		Durée : {{ formation.duree }} Min <br/>
		    		Date de début : {{ formation.debut|date('d-m-Y')}} <br/>
	    		</p>
				</div>
	    {% for user in formation.utilisateurs %}    
			{% if is_granted("ROLE_USER") and (user.formations !=  formation.id) %}
				<div class="inscription_formation">
					<a href="{{ path( 'ppe_m2l_inscription_formations',{'id': formation.id}   ) }}">INSCRIPTION</a>
				</div>
			{% endif %}
		{% endfor %}
</div>


	{% endfor %}
	</div>
{% endblock %}