{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}
<div id="actualite_content">
	{% set i = 1 %}
	{% for actualite in actualiteList %}
	    <div class="article block_shadow">

			<img src="{{ asset('media/image/' ~ actualite.image.filename) }}" class="img-responsive img-actualite" />

	    	<div class="article_texte">
	    		<div class="article_titre">
		    		<h2>{{ actualite.titre|capitalize }}</h2><br/>
		    		<div class="trait"></div>
	    		</div>
	
	    		<p>{{ actualite.contenu | truncate(300, true, '...') }}</p>
	    		{% if actualite.contenu|length > 300 %}
	    		<a href="#article_fancybox_{{ i }}" class="fancybox">Lire la suite</a>
				{% endif %}
	    	</div>
		</div>
		{% if actualite.contenu|length > 300 %}
	    	<div id="article_fancybox_{{ i }}" class="actualite_fancybox" style="display:none">
				<div class="img_container">
	    			<img src="{{ asset('media/image/' ~ actualite.image.filename) }}" class="img_fancybox" />
				</div>
	    		<div class="texte_fancybox">

	    		<h1>{{ actualite.titre }}</h1>
	    		<p>{{ actualite.contenu }}</p>

	    		</div>

	  		</div>
	  	{% endif %}
	  	{% set i = i + 1 %}
	{% endfor %}
</div>

{% endblock %}