{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}

<div id="ligue_content">


{% for ligue in ligueList %}
<div id="ligue">
	<img src="{{ asset('media/image/' ~ ligue.image.filename) }}">
	
	<div id="ligue_text">
		<div class="ligue_nom" id="{{ ligue.id }}">	    		
    		<h1> {{ ligue.nom }} </h1>
   		</div>
   		<p> {{ ligue.description }} </p>
   		<a href='{{ ligue.url }}' target="_blank"> Se rendre sur le site </a>
	</div>

</div>
{% endfor %}

</div>
{% endblock %}