{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/ppem2l/css/menu.css') }}"/>
{% endblock %}

<div id="menu">

	<img id="menu_phone" src="{{ asset('bundles/ppem2l/img/menu.png') }}"/>

	<a href="{{ path( 'ppe_m2l_homepage' ) }}" id="logo_link"><img id="logo" src="{{ asset('bundles/ppem2l/img/logo.png') }}" alt=""></a>
	
	{% if is_granted("ROLE_ADMIN") %}
			<div id="panel">ADMIN</div>
	{% endif %}

	<div id="center_mobile">MENU</div>

	<ul id="center">
		<li><a href="{{ path( 'ppe_m2l_informations' ) }}">Informations</a></li>
		<li><a href="{{ path( 'ppe_m2l_annonces' ) }}">Annonces</a></li>
		<li><a href="{{ path( 'ppe_m2l_formations' ) }}">Formations</a></li>
		<li><a href="{{ path( 'ppe_m2l_ligues' ) }}">Ligues</a></li>
		<li><a href="{{ path( 'ppe_m2l_contact' ) }}">Contact</a></li>
	</ul>

	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<img id="account" src="{{ asset('bundles/ppem2l/img/account.png') }}"/>
	{% else %}
		<img id="account" src="{{ asset('bundles/ppem2l/img/on.png') }}"/>
	{% endif %}
	<ul id="right">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li><a href="{{ path( 'fos_user_profile_show' ) }}">Mon compte</a></li>
			<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
		{% else %}
			<li><a href="{{ path( 'fos_user_registration_register' ) }}">Inscription</a></li>
			<li><a href="{{ path( 'fos_user_security_login' ) }}">Connexion</a></li>
		{% endif %}
	</ul>

</div>
	
<div id="panel_container" class="hidden">
	<img id="panel_admin_arrow" src="{{ asset('bundles/ppem2l/img/arrow.png') }}"/>
	<div id="panel_admin_menu">
		<ul>
			<li><a href="{{ path('ppe_m2l_back_actualite') }}">Actualités</a></li>
			<li><a href="{{ path('ppe_m2l_back_information') }}">Informations</a></li>
			<li><a href="{{ path('ppe_m2l_back_annonce') }}">Annonces</a></li>
			<li><a href="{{ path('ppe_m2l_back_formation') }}">Formations</a></li>
			<li><a href="{{ path('ppe_m2l_back_list_ligues') }}">Ligues</a></li>
			<li><a href="{{ path('ppe_m2l_back_list_utilisateurs') }}">Utilisateurs</a></li>
		</ul>
	</div>
</div>

<div id="menu_container" class="hidden">
	<img id="panel_center_arrow" src="{{ asset('bundles/ppem2l/img/arrow.png') }}"/>
	<div id="panel_center_menu">
		<ul>
			<li><a href="{{ path( 'ppe_m2l_homepage' ) }}">Actualités</a></li>
			<li><a href="{{ path( 'ppe_m2l_informations' ) }}">Informations</a></li>
			<li><a href="{{ path( 'ppe_m2l_annonces' ) }}">Annonces</a></li>
			<li><a href="{{ path( 'ppe_m2l_formations' ) }}">Formations</a></li>
			<li><a href="{{ path( 'ppe_m2l_ligues' ) }}">Ligues</a></li>
			<li><a href="{{ path( 'ppe_m2l_contact' ) }}">Contact</a></li>
		</ul>
	</div>
</div>

<div id="menu_phone_container" class="hidden">
		<ul>
			<li><a href="{{ path( 'ppe_m2l_homepage' ) }}">Actualités</a></li>
			<li><a href="{{ path( 'ppe_m2l_informations' ) }}">Informations</a></li>
			<li><a href="{{ path( 'ppe_m2l_annonces' ) }}">Annonces</a></li>
			<li><a href="{{ path( 'ppe_m2l_formations' ) }}">Formations</a></li>
			<li><a href="{{ path( 'ppe_m2l_ligues' ) }}">Ligues</a></li>
			<li style="border-bottom: 1px solid rgb(21, 72, 116);"><a href="{{ path( 'ppe_m2l_contact' ) }}">Contact</a></li>
		</ul>
</div>

<div id="account_container" class="hidden">
	<img id="panel_account_arrow" src="{{ asset('bundles/ppem2l/img/arrow.png') }}"/>
	<div id="panel_account">
		<ul>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li><a href="{{ path( 'fos_user_profile_show' ) }}">Mon compte</a></li>
				<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
			{% else %}
				<li><a href="{{ path( 'fos_user_registration_register' ) }}">Inscription</a></li>
				<li><a href="{{ path( 'fos_user_security_login' ) }}">Connexion</a></li>
			{% endif %}
		</ul>
	</div>
</div>
