{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/ppem2l/css/menu.css') }}"/>
{% endblock %}

<div id="menu">
	
<a href="{{ path( 'ppem2_l_homepage' ) }}" id="logo_link"><img id="logo" src="{{ asset('bundles/ppem2l/img/logo.png') }}" alt=""></a>

	<ul id="center">
		<li><a href="{{ path( 'ppem2_l_informations' ) }}">Informations</a></li>
		<li><a href="{{ path( 'ppem2_l_reservations' ) }}">Réservations</a></li>
		<li><a href="{{ path( 'ppem2_l_annonces' ) }}">Annonces</a></li>
		<li><a href="{{ path( 'ppem2_l_formations' ) }}">Formations</a></li>
		<li><a href="{{ path( 'ppem2_l_ligues' ) }}">Ligues</a></li>
		<li><a href="{{ path( 'ppem2_l_contact' ) }}">Contact</a></li>
	</ul>
	<ul id="right">
		<li><a href="{{ path( 'ppem2_l_connexion' ) }}">Connexion</a></li>
		<li><a href="{{ path( 'ppem2_l_inscription' ) }}">Inscription</a></li>
		<li><a href="{{ path( 'ppem2_l_account' ) }}">Mon compte</a></li>
	</ul>
<script>
	$( document ).ready(function() {
		$('li').hover(function(){ // cahnge le bckgrnd des li au hover
			$(this).css('background', '#154b77');
		},function(){
			$(this).css('background', '#18568C');
		});

	// 	$(document).scroll(function() { // réduit le menu quand on scroll a plus de 10px
	//     if( $(this).scrollTop() > 10 ) {
	// 		$('#menu').animate({height : "30px"});
	// 		$('#logo').animate({width : "25px"});
	// 		$('#logo_link').animate({top : "0"});
	// 		$('#menu > ul > li > a').animate({lineHeight :"30px"});
	// 		$.finish();
	// 	}else{
	// 		$('#menu').animate({height : "55px"});
	// 		$('#logo').animate({width : "40px"});	
	// 		$('#logo_link').animate({top : "5px"});
	// 		$('#menu > ul > li > a').animate({lineHeight :"55px"});
	// 	}
	// });
$(function(){
    $('#menu').data('size','big');
});

$(window).scroll(function(){
    var $nav = $('#menu');
    if ($('body').scrollTop() > 0) {
        if ($nav.data('size') == 'big') {
            $nav.data('size','small').stop().animate({height:'30px'},100);
			$('#logo').animate({width : "25px"},100);
			$('#logo_link').animate({top : "0"},100);
			$('#menu > ul > li > a').animate({lineHeight :"30px"},100);
        }
    } else {
        if ($nav.data('size') == 'small') {
            $nav.data('size','big').stop().animate({height:'55px'},100);
			$('#logo').animate({width : "40px"},100);	
			$('#logo_link').animate({top : "5px"},100);
			$('#menu > ul > li > a').animate({lineHeight :"55px"},100);
        }  
    }
});
});
</script>
</div>
