{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/ppem2l/css/menu.css') }}"/>
{% endblock %}

<div id="menu">
	
<a href="{{ path( 'ppem2_l_homepage' ) }}"><img id="logo" src="{{ asset('bundles/ppem2l/img/logo.png') }}" alt=""></a>

	<ul>
		<li><a href="{{ path( 'ppem2_l_informations' ) }}">Informations</a></li>
		<li><a href="{{ path( 'ppem2_l_reservations' ) }}">Réservations</a></li>
		<li><a href="{{ path( 'ppem2_l_annonces' ) }}">Annonces</a></li>
		<li><a href="{{ path( 'ppem2_l_formations' ) }}">Formations</a></li>
		<li><a href="{{ path( 'ppem2_l_ligues' ) }}">Ligues</a></li>
		<li><a href="{{ path( 'ppem2_l_contact' ) }}">Contact</a></li>
		<li><a href="#">Connexion</a></li>
		<li><a href="#">Inscription</a></li>
		<li><a href="#">Mon compte</a></li>
	</ul>

</div>