{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/ppem2l/css/menu.css') }}"/>
{% endblock %}

<div id="menu">
	
	<a href="{{ path( 'ppe_m2l_homepage' ) }}" id="logo_link"><img id="logo" src="{{ asset('bundles/ppem2l/img/logo.png') }}" alt=""></a>
	
	{% if is_granted("ROLE_ADMIN") %}
			<div id="panel">ADMIN PANEL</div>
	{% endif %}

	<ul id="center">
		<li><a href="{{ path( 'ppe_m2l_informations' ) }}">Informations</a></li>
		<li><a href="{{ path( 'ppe_m2l_reservations' ) }}">Réservations</a></li>
		<li><a href="{{ path( 'ppe_m2l_annonces' ) }}">Annonces</a></li>
		<li><a href="{{ path( 'ppe_m2l_formations' ) }}">Formations</a></li>
		<li><a href="{{ path( 'ppe_m2l_ligues' ) }}">Ligues</a></li>
		<li><a href="{{ path( 'ppe_m2l_contact' ) }}">Contact</a></li>
	</ul>
	<ul id="right">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li><a href="{{ path( 'fos_user_profile_show' ) }}">Mon compte</a></li>
			<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
		{% else %}
			<li><a href="{{ path( 'fos_user_registration_register' ) }}">Inscription</a></li>
			<li><a href="{{ path( 'fos_user_security_login' ) }}">Connexion</a></li>
		{% endif %}
	</ul>

</div>
	
	<div id="panel_container" class="hidden">
		<img id="panel_admin_arrow" src="{{ asset('bundles/ppem2l/img/arrow.png') }}"/>
		<div id="panel_admin_menu">
			<ul>
				<li><a href="{{ path('ppe_m2l_back_actualite') }}">Actualités</a></li>
				<li><a href="{{ path('ppe_m2l_back_information') }}">Informations</a></li>
				<li><a href="{{ path('ppe_m2l_back_annonce') }}">Annonces</a></li>
				<li><a href="{{ path('ppe_m2l_back_formation') }}">Formations</a></li>
				<li><a href="{{ path('ppe_m2l_back_list_ligues') }}">Ligues</a></li>
				<li><a href="{{ path('ppe_m2l_back_list_utilisateurs') }}">Utilisateurs</a></li>
			</ul>
		</div>
	</div>

<script>
	$( document ).ready(function() {
		$('#menu li').hover(function(){ // change le bckgrnd des li au hover
			$(this).css('background', '#154b77');
		},function(){
			$(this).css('background', '#18568C');
		});

$(function(){
    $('#menu').data('size','big');
});


var left = $('#panel').offset().left - 70;
$(window).load(function(){
	$('#panel_container').css('left', left);
});

$(window).resize(function(){
	$('#panel_container').css('left', left);
});

$('#panel').on('click',function(event){
	if ($('#panel_container').hasClass('hidden')) {
		$('#panel_container').css('display', 'block').animate({opacity: 1},100).removeClass('hidden').addClass('visible');
	}else if ($('#panel_container').hasClass('visible')){
		$('#panel_container').animate({opacity: 0},100).css('display', 'none').removeClass('visible').addClass('hidden');		
	}
	event.stopPropagation();
});

$('html').click(function(){
	$('.visible').animate({opacity: 0},100).css('display', 'none').removeClass('visible').addClass('hidden');
});

$(window).scroll(function(){
    var $nav = $('#menu');
    if ($('body').scrollTop() > 0) {
        if ($nav.data('size') == 'big') {
            $nav.data('size','small').stop().animate({height:'30px'},100);
			$('#logo').animate({width : "25px"},100);
			$('#logo_link').animate({top : "0"},100);
			$('#menu > ul > li > a').animate({lineHeight :"30px"},100);
			$('#menu > #panel_link').animate({top: "5px"},100);

        }
    } else {
        if ($nav.data('size') == 'small') {
            $nav.data('size','big').stop().animate({height:'55px'},100);
			$('#logo').animate({width : "40px"},100);	
			$('#logo_link').animate({top : "5px"},100);
			$('#menu > ul > li > a').animate({lineHeight :"55px"},100);
			$('#menu > #panel_link').animate({top: "17.5px"},100);

        }  
    }
});
});
</script>