{% extends 'PPEM2LBundle:Default:layout.html.twig' %}
{% block body %}

<div class="list_ligues">
	<span class="titre_back">LIGUES INSCRITES</span>
	<table border="1" cellspacing="0">
		<thead>
				<th width="5px">Id</th>
				<th>Gérant</th>
				<th>Ligue</th>
				<th>Description</th>
				<th>URL</th>
				<th>Image</th>
				<th>Sport</th>
				<th colspan="2">Edition</th>
		</thead>
		<tbody>
	{% for ligue in ligueList %}


			<tr>
				<td>{{ ligue.id }}</td>
				<td>{{ ligue.userLigue.email }}</td>
				<td>{{ ligue.nom }}</td>
				<td>{{ ligue.description }}</td>
				<td>{{ ligue.url }}</td>
				<td>{{ ligue.image }}</td>
				<td>{{ ligue.sportLigue.nom }}</td>

				
				<td><a href="{{ path( 'ppe_m2l_back_edit_ligues',{'id': ligue.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/edit.png') }}"/></a></td>
				<td><a href="{{ path( 'ppe_m2l_back_delete_ligues',{'id': ligue.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/delete.png') }}"/></a></td>

			</tr>

		
	{% endfor %}
		</tbody>
	</table>
</div>

<div id="add_ligue" title="AJOUTER UNE LIGUE">+</div>
<div class="add_ligue">
	<span class="titre_back">AJOUTER UNE LIGUE</span>
		{{ form_start(formAdd) }}

				<div class="input_form_register">
					{{ form_label(formAdd.nom, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_widget(formAdd.nom, {'label_attr': {'class': 'from-control'}}) }}
					{{ form_errors(formAdd.nom) }}
				</div>

				<div class="input_form_register">
					{{ form_label(formAdd.userLigue, "Admin de la ligue", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAdd.userLigue) }}
					{{ form_widget(formAdd.userLigue, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAdd.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_widget(formAdd.description, {'label_attr': {'class': 'from-control'}}) }}
					{{ form_errors(formAdd.description) }}
				</div>

				<div class="input_form_register">
					{{ form_label(formAdd.url, "URL", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_widget(formAdd.url, {'label_attr': {'class': 'from-control'}}) }}
					{{ form_errors(formAdd.url) }}
				</div>

				<div class="input_form_register">
					{{ form_label(formAdd.image, "Image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAdd.image) }}
					{{ form_widget(formAdd.image, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAdd.sportLigue, "Sport", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAdd.sportLigue) }}
					{{ form_widget(formAdd.sportLigue, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

					{{ form_widget(formAdd.publier) }}

		{{ form_end(formAdd) }}
</div>


<script type="text/javascript">
$(document).ready(function(){

	$('#add_ligue').click(function(){
		$('.add_ligue').animate({right: "0px"},300);
		$('#add_ligue').animate({right: "-300px"},300);
	});
	$('.titre_back').click(function(){
		$('.add_ligue').animate({right: "-300px"},300);
		$('#add_ligue').animate({right: "0px"},300);
	});

});

</script>
{% endblock %}