{% trans_default_domain 'PPEUserBundle' %}

<div class="fos_user_user_show">
	<div class="titre">MES INFOS</div>
	<table>
		<tr>
			<td class="left">Nom :</td>
			<td class="right">{{ user.lastName }}</td>
		</tr>
	<tr class="spacer"></tr>
		<tr>
			<td class="left">Prénom :</td>
			<td class="right">{{ user.firstName }}</td>
		</tr>
	<tr class="spacer"></tr>
		<tr>
			<td class="left">Sexe :</td>
			{% if user.gender == "m" %}
				<td class="right">Masculin</td>
			{% else %}
				<td class="right">Feminin</td>
			{% endif %}
		</tr>
	<tr class="spacer"></tr>
		<tr>
			<td class="left">Email :</td>
			<td class="right">{{ user.email }}</td>
		</tr>
	<tr class="spacer"></tr>
		<tr>
			<td class="left">Téléphone :</td>
			<td class="right">{{ user.phoneNumber }}</td>
		</tr>
	<tr class="spacer"></tr>
		<tr>
			<td class="left">Anniversaire :</td>
			<td class="right">{{ user.bornDate|date('d-M-Y') }}</td>
		</tr>
	<tr class="spacer"></tr>
		<tr>
			<td class="left">Authorisations:</td>
			{% if user.roles("USER_ADMIN") %}
			<td class="right">Administrateur</td>
			{% elseif user.roles("USER_USER") %}
			<td class="right">Utilisateur</td>
			{% endif %}

		</tr>
	</table>

		<a href="{{ path( 'fos_user_profile_edit' ) }}">Modifier mon compte</a>
</div>
<div id="admin_panel">
	<div class="titre_back">ADMIN PANEL</div>
	<ul>
		<li><a href="">Utilisateurs</a></li>
		<li><a href="">Actualités</a></li>
		<li><a href="">Annonces</a></li>
		<li><a href="{{ path('ppe_m2l_back_list_ligues') }}">Ligues</a></li>
	</ul>
</div>