{# On étend notre layout #}
{% extends "PPEM2LBundle:Default:layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ppeuser/css/login.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/ppeuser/css/register.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/ppeuser/css/profile.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/ppeuser/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ppeuser/css/melon.datepicker.css') }}">
{% endblock %}

{% block javascripts %}
      <script type="text/javascript" src="{{ asset('bundles/ppem2l/js/jquery.js') }}"></script>
      {% javascripts '@PPEUserBundle/Resources/public/js/*' %}
      <script type="text/javascript" src="{{ asset('bundles/ppeuser/js/jquery-ui.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/ppeuser/js/datepicker-fr.js') }}"></script>
    {% endjavascripts %}
{% endblock %}
{# Dans notre layout, il faut définir le block body #}
{% block body %}

  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">
          {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
  {% endfor %}

  {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
  {% block fos_user_content %}
  {% endblock fos_user_content %}

{% endblock %}