
{% block body %}

Liste des actualités

<a href="{{ path( 'ppe_m2l_back_actualites' ) }}">Ajouter</a>
<table border="1" cellspacing="0">
	<tr>
			<th>Id</th>
			<th>Titre</th>
			<th>Contenu</th>
			<th>Image</th>

	</tr>
{% for actualite in actualiteList %}
	<tr>

			<td>{{ actualite.id }}</td>
			<td>{{ actualite.titre }}</td>
			<td>{{ actualite.contenu }}</td>
			<td>{{ actualite.image }}</td>

			
			<td><a href="{{ path( 'ppe_m2l_back_actu',{'id': actualite.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/edit.png') }}"/></a></td>
			<td><a href="{{ path( 'ppe_m2l_back_delete_actualites',{'id': actualite.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/delete.png') }}"/></a></td>
	</tr>
{% endfor %}

</table>
{% endblock %}
