{% extends 'PPEM2LBundle:Default:layout.html.twig' %}

{% block body %}
    
	<div id="admin_panel">
		<div class="titre_back">ADMIN PANEL</div>
		<ul>
			<li><a href="{{ path('ppe_m2l_back_actualite') }}">Actualités</a></li>
			<li><a href="{{ path('ppe_m2l_back_information') }}">Informations</a></li>
			<li><a href="{{ path('ppe_m2l_back_annonce') }}">Annonces</a></li>
			<li><a href="{{ path('ppe_m2l_back_formation') }}">Formations</a></li>
			<li><a href="{{ path('ppe_m2l_back_list_ligues') }}">Ligues</a></li>
			<li><a href="{{ path('ppe_m2l_back_list_utilisateurs') }}">Utilisateurs</a></li>
		</ul>
	</div>

{% endblock %}