{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


<div id="login">
	
	<div class="titre">CONNECTEZ-VOUS !</div>

	<form action="{{ path("fos_user_security_check") }}" method="post" id="login_form"> 
	    
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    {% if error %}
    		<div id="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div class="input_form">
		    <label for="username" class="col-sm-3 control-label">{{ 'security.login.username'|trans }}</label><br/>
		    <input type="text" id="username" class="col-sm-3 control-label text_contact" name="_username" value="{{ last_username }}" required="required" />
		</div>

		<div class="input_form">
		    <label for="password" class="col-sm-3 control-label">{{ 'security.login.password'|trans }}</label><br/>
		    <input type="password" id="password" name="_password" required="required" />
		</div>

		<div class="input_form">
		    <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="col-sm-3 control-label"/>
		    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
		</div>

		<div class="input_form" id="inscription_login">
			<a href="{{ path("fos_user_registration_register") }}">Pas encore de compte ? Inscrivez-vous !</a>
		</div>

	    <input type="submit" id="login_submit" name="_submit" value="CONNEXION" />

	</form>
</div>
{% endblock fos_user_content %}