{% extends 'PPEM2LBundle:Default:layout.html.twig' %}
{% block body %}

<div class="edit_back">
	<span class="titre_back">MODIFIER LES INFOS USER</span>
		{{ form_start(form) }}

				<div class="input_form_register">
					{{ form_label(form.gender, "Téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.gender) }}
					{{ form_widget(form.gender, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.firstname, "Prenom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.firstname) }}
					{{ form_widget(form.firstname, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.lastname, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.lastname) }}
					{{ form_widget(form.lastname, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.username, "Username", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.username) }}
					{{ form_widget(form.username, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.born_date, "Date de naissance", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.born_date) }}
					{{ form_widget(form.born_date, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(form.phone_number, "Téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(form.phone_number) }}
					{{ form_widget(form.phone_number, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>


				{{ form_rest(form) }}

		{{ form_end(form) }}
</div>

{% endblock %}
