{% extends 'PPEM2LBundle:Default:layout.html.twig' %}
{% block body %}

<div class="list_utilisateurs">
	<span class="titre_back">Liste des utilisateurs</span>
<table border="1" cellspacing="0">
	<thead>
			<th>Username</th>
			<th>Email</th>
			<th>Prenom</th>
			<th>Nom</th>
			<th colspan="2">Edition</th>
	</thead>
{% for user in utilisateursList %}
	<tr>

			<td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>

			<td><a href="{{ path( 'ppe_m2l_back_edit_users',{'id': user.id}   ) }}"><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/edit.png') }}"/></a></td>
			<td><a href=""><img style="width:30px" src="{{ asset('bundles/ppem2l/img/logos/delete.png') }}"/></a></td>
	</tr>

{% endfor %}
	</tbody>
</table>
</div>

<div id="add_utilisateur" title="Ajouter une acutalite">+</div>
<div class="add_utilisateur">
	<span class="titre_back">AJOUTER UN UTILISATEUR</span>
		{{ form_start(formAdduser) }}

				<div class="input_form_register">
					{{ form_label(formAdduser.username, "Username", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAdduser.username) }}
					{{ form_widget(formAdduser.username, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAdduser.email, "Email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAdduser.email) }}
					{{ form_widget(formAdduser.email, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAdduser.firstname, "Firstname", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAdduser.firstname) }}
					{{ form_widget(formAdduser.firstname, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

				<div class="input_form_register">
					{{ form_label(formAdduser.lastname, "Lastname", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					<br/>
					{{ form_errors(formAdduser.lastname) }}
					{{ form_widget(formAdduser.lastname, {'label_attr': {'class': 'from-control'}}) }}
					<br/>
				</div>

					{{ form_widget(formAdduser.publier) }}

		{{ form_end(formAdduser) }}
</div>
<script type="text/javascript">
$(document).ready(function(){

	$('#add_utilisateur').click(function(){
		$('.add_utilisateur').animate({right: "0px"},300);
		$('#add_utilisateur').animate({right: "-300px"},300);
	});
	$('.titre_back').click(function(){
		$('.add_utilisateur').animate({right: "-300px"},300);
		$('#add_utilisateur').animate({right: "0px"},300);
	});

});

</script>
{% endblock %}
